@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* Weights: 400, 700 */
/* font-family: 'Poppins', sans-serif; */
/* - Weights: 600 */

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

*{
    box-sizing: border-box;
}
/* Utilities */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    color: var(--very-dark-cyan);
}

a {
    text-decoration: none;
    color:var(--very-pale-cyan);
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--very-dark-cyan);
}

img {
    max-width:100%;
}

li {
    list-style-type: none;
}

.container {
    padding: 0 1.25rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex > div {
    flex:1;
} 

.aling-start {
    align-items: flex-start;
}
.copy {
    text-align: center;
}


/* Header */
header{
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--very-pale-cyan);
    padding: 2.5rem 0;
}

nav {
    justify-content: space-between;
    margin-bottom: 2.5rem;
    align-items: center;
}

.btn {
    padding: 1rem 3.75rem;
    background-color: #fff;
    color: var(--very-dark-cyan);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: .3s all;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    background-color: #f4f4f4;
}

.btn-primary {
    background-color: var(--pink);
    color: var(--very-pale-cyan);
}

.btn-primary:hover {
    background-color: hsl(322, 88%, 72%);
}

.box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 2.5rem 0;
    padding: 3.75rem;
}

.box img {
    width: 80%;
}

.center {
    text-align: center;
}

.small-box {
    background-color: #fff;
    display: inline-block;
    margin-bottom: -50%;
    position: relative;
    z-index: 1;
    
}

footer {
    background-color: var(--very-dark-cyan);
    color: var(--very-pale-cyan);
    padding: 180px 0 10px;
}

footer p {
    text-align: right;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    /* padding: 0; */
}

footer ul li {
    list-style-type: none;
    margin-bottom: 1.25rem;
}

.social {
    display: flex;
    flex-direction: row;
}
.social ul li {
    margin-right: 1rem;
}
.social a{
    border: 1px solid var(--very-pale-cyan);
    padding: 1rem;
    border-radius: 50%;
    transition: .3s all;
}

.social a:hover{
    border: 1px solid var(--pink);
    color: var(--pink);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }
    .flex {
        flex-direction: column;
    }

    nav.flex {
        flex-direction: row;
    }
    .social .flex{
        flex-direction: row;
    }
    .copy {
        text-align: center;
    }
    .box-reverse{
        flex-direction: column-reverse;
    }

    .btn-primary {
        margin:1.25rem 0 ;
    }
}